[submodule "genov"]
	path = genov
	url = git@github.com:gbellocchi/genov.git
	branch = xil_open_hw_23
[submodule "hero"]
	path = third-party/hero
	url = git@github.com:alessandrocapotondi/hero.git
	branch = master
[submodule "arov"]
	path = third-party/arov
	url = https://github.com/gbellocchi/arov
	branch = xil_open_hw_23